node_modules/
dist/
.DS_Store
.tmp/
.netlify/
.env
.env.local
/data/
outputs/
static/data/drawings/
static/data/vehicles/
static/data/parts-base.json
static/data/parts-price.json
static/data/parts-price-state.json
static/data/parts.yaml
static/data/parts-base.yaml
static/data/parts.json
